.footer {
  background: #edeff1 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: row;
}

.footerDetails {
  font-size: 1.25em;
  font-family: "Open Sans";
  font-weight: 600;
  opacity: 1;
  line-height: 31.5px;
  letter-spacing: 0.53px;
  color: #50647380;
  margin-left: 300px;
}

.mediaIcons {
  color: #9ea9b1;
  margin-left: 710px;
  font-size: 1.9em;
  margin-top: 15px;
}

.theIcon {
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 2s ease-out 100ms;
}

.theIcon:hover {
  background-color: #c0345e;
}

@media screen and (max-device-width: 1600px) {
  .footerDetails {
    font-size: 1.1em;
    margin-left: 100px;
  }
  .mediaIcons {
    font-size: 1.4em;
    margin-left: 420px;
  }
}

@media screen and (max-device-width: 1024px) {
  .footer {
    height: 40px;
  }
  .footerDetails {
    font-size: 0.9em;
    margin-left: 30px;
    line-height: 10px;
    letter-spacing: 0.2px;
  }
  .mediaIcons {
    font-size: 1em;
    margin-left: 200px;
    margin-top: 10px;
  }
  .theIcon {
    margin-left: 20px;
  }
}

@media screen and (max-device-width: 786px) {
  .footer {
    height: 35px;
  }
  .footerDetails {
    font-size: 0.5em;
    margin-left: 50px;
    line-height: 10px;
    letter-spacing: 0.1px;
  }
  .mediaIcons {
    font-size: 0.5em;
    margin-left: 30px;
    margin-top: 10px;
  }
  .theIcon {
    margin-left: 10px;
  }
}
