html,
body {
  min-height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.blueContainer {
  margin-top: -90px;
  float: right;
  height: auto;
}

.blueSpaniel {
  top: 0;
  left: 0;
  height: 1081px;
  width: 960px;
  background: transparent 0% 0% no-repeat;
  border: 1px solid #707070;
  opacity: 1;
  z-index: -1;
}

@media screen and (max-device-width: 1600px) {
  .wrapper {
    width: 1263px;
  }
  .blueContainer {
    margin-top: -70px;
  }
  .blueSpaniel {
    height: 775px;
    width: 670px;
  }
}

@media screen and (max-device-width: 1024px) {
  .wrapper {
    width: 786px;
  }
  .blueContainer {
    margin-top: -50px;
  }
  .blueSpaniel {
    height: 575px;
    width: 470px;
  }
}

@media screen and (max-device-width: 786px) {
  .wrapper {
    width: 400px;
  }
  .blueSpaniel {
    display: none;
  }
  .appContent {
    height: 450px;
  }
}
