.catTitle {
  font-size: 1.3em;
  font-family: "Didact Gothic", sans-serif;
  opacity: 1;
  line-height: 2em;
  letter-spacing: 2.1px;
  color: #19293a;
  margin-left: 45px;
  text-transform: uppercase;
}

@media screen and (max-device-width: 1600px) {
  .catTitle {
    font-size: 1.2em;
  }
}

@media screen and (max-device-width: 1024px) {
  .catTitle {
    font-size: 1em;
  }
}

@media screen and (max-device-width: 786px) {
  .catTitle {
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-left: 0px;
    margin-bottom: -10px;
  }
}
