img {
  margin-left: 20px;
}

.galleryImg > img {
  width: 30%;
  padding: 10px;
}

.galleryImg {
  width: 85%;
}

@media screen and (max-device-width: 1600px) {
  .galleryImg > img {
    width: 34%;
  }
  img {
    margin-left: 15px;
    width: 60%;
  }
}

@media screen and (max-device-width: 1024px) {
  .galleryImg > img {
    width: 45%;
  }
  img {
    margin-left: -10px;
    width: 50%;
  }
}

@media screen and (max-device-width: 786px) {
  .galleryImg > img {
    width: 45%;
  }
  img {
    margin-left: -10px;
    width: 40%;
  }
}
