.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #edeff1 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 787px;
}

.capableContainer {
  width: 445px;
  margin-left: 300px;
  margin-top: 150px;
}

@media screen and (max-device-width: 1600px) {
  .mainContainer {
    height: 600px;
  }

  .capableContainer {
    width: 445px;
    margin-left: 100px;
    margin-top: 75px;
  }
}

@media screen and (max-device-width: 1024px) {
  .mainContainer {
    height: 580px;
  }

  .capableContainer {
    width: 300px;
    margin-left: 30px;
    margin-top: 50px;
  }
}

@media screen and (max-device-width: 786px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

  .capableContainer {
    width: 310px;
    margin-left: 50px;
    margin-top: 25px;
  }
}
